adagio==0.2.4
aiohttp==3.9.5
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
cloudpickle==3.0.0
contourpy==1.2.1
coreforecast==0.0.12
cycler==0.12.1
Cython==3.0.10
dacite==1.8.1
darts==0.30.0
filelock==3.15.4
fonttools==4.53.1
frozendict==2.4.4
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.6.1
fugue==0.9.1
holidays==0.53
html5lib==1.1
idna==3.7
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
lightning-utilities==0.11.6
llvmlite==0.43.0
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.9.1
mpmath==1.3.0
multidict==6.0.5
multitasking==0.0.11
networkx==3.3
nfoursid==1.0.1
ninja==1.11.1.1
numba==0.60.0
numpy==1.26.4
omegaconf==2.3.0
packaging==24.1
pandas==2.2.2
patsy==0.5.6
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
pmdarima==2.0.4
protobuf==5.27.2
pyarrow==17.0.0
pyod==2.0.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytorch-lightning==2.3.3
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
setuptools==71.1.0
shap==0.46.0
six==1.16.0
slicer==0.0.8
soupsieve==2.5
statsforecast==1.7.6
statsmodels==0.14.2
sympy==1.13.1
tbats==1.1.3
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
torch==2.3.1
torchinfo==1.8.0
torchmetrics==1.4.0.post0
tqdm==4.66.4
triad==0.9.8
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
utilsforecast==0.2.0
webencodings==0.5.1
xarray==2024.6.0
xgboost==2.1.0
xlstm==1.0.3
yarl==1.9.4
yfinance==0.2.41
